{% extends 'base.html' %}

{% block content %}
  <h1>{{ object.title }} (id = {{ id }})</h1>
  <p>{{ object.content }}</p>

  <a href="{% url 'articles:create' %}">Create Article</a>
  <ul>
    {% for obj in object_list %}
      <li>
        {% comment %} <a href="{% url 'article-detail' slug=obj.slug %}">{{ obj.title }} - {{ obj.content }} - {{ obj.id }}</a> {% endcomment %}
        <a href="{{ obj.get_absolute_url }}">{{ obj.title }} - {{ obj.content }} - {{ obj.id }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
